In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error as mae

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.width',1000)

In [3]:
#####VERİ SETİNİN İNDİRİLMESİ##########
konut=pd.read_csv(r'C:\Users\Cenk Toker\OneDrive\Desktop\yapay_zeka_yüksek_lisans\ikinci dönem\istatistiksel yapay zeka\final\konut.csv')

In [4]:
konut.describe()

             OrtGel     Bina_Yasi        OrtOda         Ort_Y         Nufus      Ort_Hane         Enlem        Boylam       Port_no         Fiyat
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675   1425.476744      3.070655     35.631861   -119.569704  10419.500000      2.068558
std        1.899822     12.585558      2.474173      0.473911   1132.462122     10.386050      2.135952      2.003532   5958.399114      1.153956
min        0.499900      1.000000      0.846154      0.333333      3.000000      0.692308     32.540000   -124.350000    100.000000      0.149990
25%        2.563400     18.000000      4.440716      1.006079    787.000000      2.429741     33.930000   -121.800000   5259.750000      1.196000
50%        3.534800     29.000000      5.229129      1.048780   1166.000000      2.818116     34.260000   -118.490000  10419.500000      1.797000
75%        4.743250     37.000000      6.052381      1.099526   1725.000000      3.282261     37.710000   -118.010000  15579.250000      2.647250
max       15.000100     52.000000    141.909091     34.066667  35682.000000   1243.333333     41.950000   -114.310000  20739.000000      5.000010

In [5]:
#####BAĞIMLI DEĞİŞKEN##########
y=konut["Fiyat"]

In [6]:
#####BAĞIMLI DEĞİŞKEN##########
X=konut.drop(["Fiyat" , "Port_no"], axis=1)

In [7]:
X

       OrtGel  Bina_Yasi    OrtOda     Ort_Y  Nufus  Ort_Hane  Enlem  Boylam
0      8.3252         41  6.984127  1.023810    322  2.555556  37.88 -122.23
1      8.3014         21  6.238137  0.971880   2401  2.109842  37.86 -122.22
2      7.2574         52  8.288136  1.073446    496  2.802260  37.85 -122.24
3      5.6431         52  5.817352  1.073059    558  2.547945  37.85 -122.25
4      3.8462         52  6.281853  1.081081    565  2.181467  37.85 -122.25
...       ...        ...       ...       ...    ...       ...    ...     ...
20635  1.5603         25  5.045455  1.133333    845  2.560606  39.48 -121.09
20636  2.5568         18  6.114035  1.315789    356  3.122807  39.49 -121.21
20637  1.7000         17  5.205543  1.120092   1007  2.325635  39.43 -121.22
20638  1.8672         18  5.329513  1.171920    741  2.123209  39.43 -121.32
20639  2.3886         16  5.254717  1.162264   1387  2.616981  39.37 -121.24

[20640 rows x 8 columns]

In [8]:
#####VERİYİ STANDARTLAŞTIRMA##########
sutunlar=X.columns

In [9]:
X=MinMaxScaler().fit_transform(X)

In [10]:
X=pd.DataFrame(X , columns=sutunlar)

In [11]:
X.describe()

             OrtGel     Bina_Yasi        OrtOda         Ort_Y         Nufus      Ort_Hane         Enlem        Boylam
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       0.232464      0.541951      0.032488      0.022629      0.039869      0.001914      0.328572      0.476125
std        0.131020      0.246776      0.017539      0.014049      0.031740      0.008358      0.226988      0.199555
min        0.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.142308      0.333333      0.025482      0.019943      0.021974      0.001398      0.147715      0.253984
50%        0.209301      0.549020      0.031071      0.021209      0.032596      0.001711      0.182784      0.583665
75%        0.292641      0.705882      0.036907      0.022713      0.048264      0.002084      0.549416      0.631474
max        1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000      1.000000

In [12]:
#########VALİDASYONSUZ MODELİN OLUŞTURULMASI , TAHMİNLEME VE MAE HESAPLANMASI ######
model=LinearRegression()
model.fit(X,y)
pred=model.predict(X)
mae_validasyonsuz=mae(y,pred)
model1=pd.DataFrame({"Kaysayı_model1":model.coef_ }, index=sutunlar)
model1.loc["Hata_Model1"]=mae_validasyonsuz

In [13]:
#####EĞİTİM VE TEST VERİLEİNİ AYIRMA##############
###### OKUL NO : 20221500658 İÇİN ################
####### TEST ORANI DIGITLER TOPLAMI %31 OLACAK ###
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.31)

In [14]:
#########VALİDASYONLU MODELİN OLUŞTURULMASI , TAHMİNLEME VE MAE HESAPLANMASI ######
model=LinearRegression()
model.fit(X_train,y_train)
pred=model.predict(X_test)
mae_validasyonlu=mae(y_test,pred)
model2=pd.DataFrame({"Kaysayı_model2":model.coef_ }, index=sutunlar)
model2.loc["Hata_Model2"]=mae_validasyonlu

In [15]:
model_son=pd.concat([model1,model2],axis=1)

In [16]:
model_son

             Kaysayı_model1  Kaysayı_model2
OrtGel             6.332140        6.453079
Bina_Yasi          0.481225        0.500855
OrtOda           -15.139162      -17.674043
Ort_Y             21.760216       26.239824
Nufus             -0.141874       -0.047822
Ort_Hane          -4.705313       -4.100783
Enlem             -3.964568       -3.991799
Boylam            -4.362518       -4.404180
Hata_Model1        0.531164             NaN
Hata_Model2             NaN        0.535191

In [17]:
### BEKLENDİĞİ ŞEKİLDE , VALİDASYONLU MODELİN HATASI DAHA YÜKSEK ÇIKTI###